@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.heading h2::after {
    content: " ";
    display: block;
    margin: 10px auto ;
    border-radius: 10px;
    width: 100px;
    height: 3px;
    background: #6D66DC;
}

/* header */

header {
    background: #6D66DC;
    position: fixed;
    top: 0;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    z-index: 99;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
}

header .container-header {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-left {
    /* border: 1px solid black; */
}

.header-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-left li {
    display: inline-block;
    margin-right: 10px;
    padding: 1em;
    color: #fff;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
}

.header-left a::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s;
}

.header-left a:hover::after {
    /* background-color: red; */
    bottom: 6px;
}

.header-left li:hover {
    transform: scale(1.09);
}

.header-left a {
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
}


nav.show {
    display: block;
    position: fixed;
    top: 76px;
    left: -500px;
    background: #6D66DCcd;
    height: 100vh;
    width: 70%;
    animation: nav 0.3s ease forwards;
}

@keyframes nav {
    to {
        left: 0;
    }
}

nav.show ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

nav.show li {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.header-menu {
    display: none;
}

.header-menu .bx {
    font-size: 2.5em;
    color: #fff;
    position: absolute;
    left: 0;
    top: -4px;
    cursor: pointer;
}


.header-right {
    /* border:  1px solid black; */
    position: relative;
}

.header-right input {
    border: none;
    outline: none;
    width: 250px;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    position: relative;
    letter-spacing: .5px;
    color: #666;
    transition: all 0.2s;
}

.header-right input:hover {
    box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);
}

.header-right .bx-search {
    color: lightskyblue;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* HOME */

.home {
    height: 100vh;
    position: relative;
}

.home-left {
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.home .home-left h2 {
    font-size: 1.7em;
    line-height: 35px;
    margin-bottom: 30px;
}

.home-left p {
    font-size: .8em;
    margin-top: -20px;
    margin-bottom: 30px;
}

.home-left span {
    color: #6D66DC;
}

.home-left .btn-home {
    background: #6D66DC;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0 10px .5px rgba(0,0,0,0.3);
}

.home-left input {
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.9em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s  ease-in;
}

.home-left input:hover {
    background-color: #fff;
    color: #6D66DC;
    outline: 2px solid #6D66DC;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}

.home-right {
    text-align: center;
}

.home-right img {
    width: 300px;
}

.home-wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    /* border: 1px solid black; */
    width: 100%;
    /* height: 20%; */
}

.home-wave img {
    display: inline-block;
    width: 100%;
    height: 100%;
}


/* About */

.about {
    background-color: #f3f4f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container {
    padding: 100px 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    letter-spacing: .5px;
}


.about-image {
    margin-bottom: 10px;
    
}

.about-image img {
    width: 200px;
    border-radius: 10px;
}

.about-text {
    padding: 20px;
}

.about-text .quotes {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}